# ======================
# Rust
# ======================
target/
debug/
**/*.rs.bk
*.d


# ======================
# Артефакты сборки и бинарные файлы
# ======================
*.o
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.pdb


# ======================
# Тесты и бенчмарки
# ======================
/target/criterion/
**/*.profdata
**/*.gcda


# ======================
# Файлы окружения
# ======================
.env
*.env


# ======================
# Системные файлы (macOS)
# ======================
.DS_Store
**/.DS_Store
.AppleDouble
._*
*.swp
*.swo
*.orig


# ======================
# Документация
# ======================
/doc/
**/rustdoc/


# ======================
# Прочие файлы
# ======================
TODO.md
*.log
*.log.*
*~
*.bak
